---
layout: normal
title: Jury
color: "#E30613"
bg_url: "/assets/images/X.svg"
bg_position: "-35vh 70vh"
---
<header class="content-siteheader">
	<h1>{{ page.title }}</h1>
</header>

{% for jury in site.juries %}
{% unless jury.hidden %}
<div class="section jury">
	<div class="section-text colored">
		<h4 class="accent-tc">{{ jury.name }}</h4>
        <div class="jury-subtitle"><i>{{ jury.subtitle1 }}</i></div>
        <div class="jury-subtitle"><i>{{ jury.subtitle2 }}</i></div>

		{{ jury.content | markdownify }}
	</div>
	{% if jury.image %}
	<div class="section-image">
        <figure>
		    <img src="{{ jury.image }}" alt="{{ jury.name }} Image" />
            <footer><small> {{jury.image-copyright}} </small></footer>
        </figure>
	</div>
	{% endif %}
</div>
{% endunless %}
{% endfor %}

<div class="content-footer">
	<p><strong>That's Not All!</strong></p>
	<p><strong>Check Back <mark>Soon</mark> For More Jury Members.</strong></p>
</div>
